<div class="row">

  <div class="col-sm-6 title">
    <p class="pull-right title_move_right"><a href="#" class="hover-change">projects</a></p>
  </div>

  <div class="col-sm-6 title">
    <p class="title_move_left"><a href="#" class="hover-change">experience</a></p>
  </div>

  <div class="col-sm-6 title">
    <p class="pull-right title_move_right"><a href="#" class="hover-change">skills</a></p>
  </div>

  <div class="col-sm-6 title">
    <p class="title_move_left"><a href="#" class="hover-change">education</a></p>
  </div>

</div>
